.tirulo_cardapio{
    padding-bottom: 17rem;
}


.botao{ 
    border-radius: 1.5rem !important;
    font-family: "Poppins", sans-serif !important;
    background-color: rgb(100, 198, 115) !important;  
}

.pratos{
    width: 25%;
}

.pratos:nth-child(6){
    margin-bottom: 1.3rem;
}

.card {
    background-color: white !important;
}

.texto_card{
    font-family: "Poppins", serif;
    font-weight: 300;
    color: rgb(37, 157, 242) !important
}

.botao_card{ 
    border-radius: 1.5rem !important;
    font-family: "Poppins", sans-serif !important;
    background-color: rgb(100, 198, 115) !important;  
    padding-left:2rem !important;
    padding-right: 2rem !important;
}


@media (max-width: 1100px)  {
    .pratos{
        margin: 0 1.5rem 0 1.5rem;
        width: 35%
    }

}

@media (max-width: 820px)  {
    .pratos{
        width: 80%
    }

}

@media (max-width: 380px) {
    .pratos{
        width: 100%
    }
} 

