
.botao{ 
    border-radius: 1.5rem !important;
    font-family: "Poppins", sans-serif !important;
    background-color: rgb(100, 198, 115) !important;  
}


.descricao_detalhe {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 0 6rem 0 6rem;
    background-color: rgb(211, 255, 218);
    padding: 2.5rem;
    border-radius: 2rem;
}

.formulario {
    margin: 0 7rem 0 7rem;
}

.botao_ajuste {
    background-color: red !important;
}

.input {
    background-color: white !important;
    color: black !important;
}

.input::placeholder{
    color: black;
}


.produto-imagem{
    width: 40%;
    border-radius: 16px;
    box-shadow: 4px 4px 2px rgb(151, 151, 151);
}

.produto-imagem:hover{
    width: 40.4%;
    transition: 0.2s;
}

.label{
    color: rgb(8, 180, 237) !important;
}
.texto_formulario{
    width: 100%;
}



@media (max-width: 1000px) {
    .produto-imagem{
        width: 65%;
    }
    .descricao_detalhe {
        margin: 0 1rem 0 1rem;
    }
} 

@media (max-width: 940px) {
    .formulario {
        margin: 0 4rem 0 4rem;
    }
} 

@media (max-width: 720px) {
    .texto_formulario{
        width: 100%;
    }
} 


@media (max-width: 400px) {
    .imagem_detalhes{
        width: 90%;
    }

    .formulario {
        margin: 0 2rem 0 2rem;
    }
} 
